body,
html,
#root,
.App {
  height: 100%;
  /* margin: 0;
  padding: 0; */
  /* width: 100%; */
  margin-top: 20px;
  /* max-width:  1280px; */
}

.App {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

section {
  padding: 20px;
}

/* .header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.visible {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
} */
.text-center h1 {
  white-space: pre-wrap; /* Ensures the line break is respected */
}
.cursor{
  cursor: pointer;
}
.chr-headline-0 {
  font-size: 3rem;
  line-height: 3.25rem;
  letter-spacing: -0.125rem;
  font-family: "Google Sans", arial, sans-serif;
  font-weight: 700;
}

.chr-chrome-hero__heading {
  grid-column: 1 / -1;
  grid-row: heading;
  text-align: center;
}